global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s

frontend http_front
    bind *:8080
    acl is_smd path_beg /hsm
    acl is_bss path_beg /bss
    use_backend smd_backend if is_smd
    use_backend bss_backend if is_bss

backend smd_backend
    server smd 172.23.0.1:27779

backend bss_backend
    server bss 172.23.0.1:27778
