[Container]
Image=ghcr.io/openchami/smd:latest
Exec=/smd-init
Network=openchami.network
Environment=SMD_DBTYPE=postgres
Environment=SMD_DBHOST=172.23.0.1
Environment=SMD_DBPORT=5432
Environment=SMD_DBNAME=smd
Environment=SMD_DBUSER=smd
Environment=SMD_DBPASS=smdpassword
Environment=SMD_DBOPTS=sslmode=disable

[Unit]
Requires=postgres.service
After=postgres.service

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
