[Container]
Image=ghcr.io/openchami/smd:latest
Network=openchami.network
Environment=SMD_DBTYPE=postgres
Environment=SMD_DBHOST=172.23.0.1
Environment=SMD_DBPORT=5432
Environment=SMD_DBNAME=smd
Environment=SMD_DBUSER=smd
Environment=SMD_DBPASS=smdpassword
Environment=SMD_DBOPTS=sslmode=disable
PublishPort=172.23.0.1:27779:27779

[Unit]
Requires=smd-init.service
After=smd-init.service

[Install]
WantedBy=multi-user.target
